@use "../../styles/variables" as *;

.card {
  max-width: 400px;
  border-radius: 0.5rem;
  background-color: $cor-white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  margin-bottom: $espacamento-pequeno;
}

.content {
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  width: calc(100% - 130px);
}

.image {
  object-fit: cover;
  width: 130px;
  height: 110px;
  margin: auto 10px auto 0;
  border-radius: 3px;
}

.card-action {
  margin-top: 3px;
}

.desc {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  color: $cor-black;
  font-size: 13px;
  line-height: 1.25rem;

  .desc-name {
    font-size: 16px;
  }
}

.main-button {
  margin: 20px auto;
}

.sessoes-container {
  width: 100%;
  display: grid;
  gap: $espacamento-medio;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: $espacamento-grande;

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
  }
}

@media (max-width: $breakpoint-mobile) {
  .card {
    flex-direction: row;
    max-width: 100%;
  }

  .image {
    width: 90px;
    height: 90px;
    margin: auto 10px auto 0;
  }

  .content {
    width: calc(100% - 90px);
  }
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
